{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <p>
            Utilisez ce formulaire pour nous soumettre vos publication scientifiques.<br>
            Nos modérateurs procèderont à la validation de votre publication dans les plus brefs délais !
        </p>
    </div>
</div>

<div class="container">

    <h1>Publication creation</h1>
    <hr>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
            {{ form_end(form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_home') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
    </ul>

</div>



{% endblock %}
